{% extends 'ArealWebBundle::web.html.twig' %}

{% block meta %}
	{{ parent() }}
    <meta name="description" content="Reformas Integrales Areal S.L., empresa especializada en: Reformas en General - Decoración - Muebles Baño - Cambio Plato Ducha - Mamparas Baño - Alcorcón">
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{# CSS Global Compulsory #}
	<link rel="stylesheet" href="{{asset('bundles/arealweb/css/slider.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/arealweb/css/icons/flaticon.css')}}">

    {# CSS Implementing Plugins #}
	<link rel="stylesheet" href="{{asset('bundles/arealweb/plugins/bxslider/jquery.bxslider.css')}}">
	<link rel="stylesheet" href="{{asset('bundles/arealweb/plugins/layer_slider/css/layerslider.css')}}">
{% endblock %}

{% block header %}
	{% set inicioAct = "class=active" %}
	{% set contactoAct = "" %}
	{{ parent() }}
{% endblock %}
{% block content %}
	<!--=== Slider ===-->
    <div class="layer_slider">
        <div id="layerslider-container-fw">        
				<div id="layerslider"  style="width: 100%; height: 500px; margin: 0px auto; background-color: white;">
				<!--First Slide-->
				<div class="ls-layer" style="slidedirection: right; transition2d: 92,93,105; ">
					<img src="{{asset('bundles/arealweb/img/slider/8.png')}}" class="ls-bg" alt="Slide background">
					<span class="ls-s-1 titulo t1" style="top:100px; left: 50px; slidedirection : top; slideoutdirection : bottom; durationin : 1500; durationout : 1000; ">
					    PRESUPUESTO SIN <br> COMPROMISO
					</span>

					<a class="btn-u btn-u-blue rounded ls-s-1" href="{{ path('web_contacto') }}" style=" padding: 9px 20px; font-size:20px; top:220px; left: 50px; slidedirection : bottom; slideoutdirection : bottom; durationin : 1500; durationout : 1000; ">
					    Solicitalo Ya!!!
					</a>

					<img src="{{asset('bundles/arealweb/img/slider/t1.png')}}" alt="Slider Image" class="ls-s-1" style=" top:120px; left: 590px; slidedirection : right; slideoutdirection : bottom; durationin : 2000; durationout : 2000; ">
				</div>
				<!--End First Slide-->
				<!--Second Slide-->
				<div class="ls-layer" style="slidedirection: right; transition2d: 92,93,105; ">
					<img src="{{asset('bundles/arealweb/img/slider/5.png')}}" class="ls-bg" alt="Slide background">
					<span class="ls-s-1 titulo t3" style="top:350px; left: 50px; slidedirection : top; slideoutdirection : bottom; durationin : 2500; durationout : 1000; ">
					    EXPERIENCIA
					</span>

					<span class="ls-s-1 subtitulo" style="font-size: 20px; top:410px; left: 50px; slidedirection : top; slideoutdirection : bottom; durationin : 2500; durationout : 1000; ">
					    30 años en el sector nos avalan
					</span>
				</div>
				<!--End Second Slide-->
				<!--Third Slide-->
				<div class="ls-layer" style="slidedirection: right; transition2d: 24,25,27,28; ">
					<img src="{{asset('bundles/arealweb/img/slider/3.png')}}" class="ls-bg" alt="Slide background">
					
					<span class="ls-s-1 titulo t2" style="top:310px; left: 590px; slidedirection : top; slideoutdirection : bototm; durationin : 2500; durationout : 1500; ">
					    CALIDAD
					</span>
					<span class="ls-s-1 subtitulo" style="top:370px; left: 590px; slidedirection : top; slideoutdirection : bototm; durationin : 2500; durationout : 1500; ">
					    Trabajamos con el personal mas cualificado <br>y los mejores materiales
					</span>
				</div>

				<!--End Third Slide--> 
                <!--Four Slide-->
				<div class="ls-layer foto4" style="slidedirection: top; ">
					<img src="{{asset('bundles/arealweb/img/slider/10.png')}}" class="ls-bg" alt="Slide background">

					<span class="ls-s-1 titulo t4" style="top:50px; left: 0px; slidedirection : top; slideoutdirection : bottom; durationin : 1000; durationout : 1000; ">
					    TRATO
					</span>
					<span class="ls-s-1 titulo" style="color:#044192;top:95px; left: 80px; slidedirection : top; slideoutdirection : bottom; durationin : 1000; durationout : 1000; ">
					    PERSONALIZADO
					</span>

					<i class="fa fa-chevron-circle-right ls-s-1" style="top:170px; left: 20px; slidedirection : left; slideoutdirection : top; durationin : 1500; durationout : 500; "></i> 
					<span class="ls-s-2 " style=" color: #2e7ebd; font-weight: 200; font-size: 20px; top:170px; left: 50px; slidedirection : top; slideoutdirection : bottom; durationin : 1500; durationout : 500; ">
					    Presupuesto a medida
					</span>

					<i class="fa fa-chevron-circle-right ls-s-1" style="top:220px; left: 20px; slidedirection : left; slideoutdirection : top; durationin : 2500; durationout : 1500; "></i> 
					<span class="ls-s-2" style=" color: #2e7ebd; font-weight: 200; font-size: 20px; top:220px; left: 50px; slidedirection : top; slideoutdirection : bottom; durationin : 2500; durationout : 1500; ">
					    Evaluación de necesidades
					</span>

					<i class="fa fa-chevron-circle-right ls-s-1" style="top:270px; left: 20px; slidedirection : left; slideoutdirection : top; durationin : 3500; durationout : 3500; "></i> 
					<span class="ls-s-2" style=" color: #2e7ebd; font-weight: 200; font-size: 20px; top:270px; left: 50px; slidedirection : top; slideoutdirection : bottom; durationin : 3500; durationout : 2500; ">
					    Gestión integral de toda su reforma
					</span>

					<i class="fa fa-chevron-circle-right ls-s-1" style="top:320px; left: 20px; slidedirection : left; slideoutdirection : top; durationin : 4500; durationout : 3500; "></i> 
					<span class="ls-s-2" style=" color: #2e7ebd; font-weight: 200; font-size: 20px; top:320px; left: 50px; slidedirection : top; slideoutdirection : bottom; durationin : 4500; durationout : 3500; ">
					    Explicación pormenorizada del proyecto
					</span>

					<i class="fa fa-chevron-circle-right ls-s-1" style="top:370px; left: 20px; slidedirection : left; slideoutdirection : top; durationin : 5500; durationout : 4500; "></i> 
					<span class="ls-s-2" style=" color: #2e7ebd; font-weight: 200; font-size: 20px; top:370px; left: 50px; slidedirection : top; slideoutdirection : bottom; durationin : 5500; durationout : 4500; ">
					    Asesoramiento en la elección de materiales
					</span>

					<img src="{{asset('bundles/arealweb/img/slider/t3.png')}}" alt="Slider Image" class="ls-s-1" style=" top:120px; left: 650px; slidedirection : right; slideoutdirection : bottom; durationin : 1500; durationout : 1500; ">
				</div>
				<!--End Four Slide-->
            </div>         
        </div>
    </div><!--/layer_slider-->
    <!--=== End Slider ===-->
    <!--=== Purchase Block ===-->
    <div class="purchase">
        <div class="container">
            <div class="row">
                <div class="col-md-9 animated fadeInLeft">
                    <span>Solicitenos presupuesto sin ningun tipo de compromiso</span>
                    <p>Si desea realizar cualquier tipo de reforma en su vivienda, local o comunidad de vecinos o esta interesado en alguno de los productos que ofertamos,
                     comuniquese con nosotros a traves de nuestro formulario de contacto, mail o teléfono. </p>
                </div>            
                <div class="col-md-3 animated fadeInRight">
                    <a href="{{ path('web_contacto') }}" class="btn-u" style="width: 40%; margin-bottom: 1px"><i class="icon-user "></i> Contacto</a><br>
                    <a href="mailto:arealsl@arealsl.es" class="btn-u" style="width: 40%; margin-bottom: 1px"><i class="icon-envelope-open "></i> Mail</a><br>
                    <a href="tel:916114783" class="btn-u" style="width: 40%; margin-bottom: 1px"><i class="icon-call-end"></i> Tel&eacute;fono</a>
                </div>
            </div>
        </div>
    </div><!--/row-->
    <!-- End Purchase Block -->
    <!--=== Content Part ===-->
    <div class="container content">
        <!-- Info Blokcs -->
        <div class="row margin-bottom-20">
            <!-- Welcome Block -->
            <div class="col-md-12 md-margin-bottom-40">
                <div class="headline"><h2>Servicios</h2></div>
                <div class="row">
                    <div class="col-sm-4 info-blocks">
                        <i class="icon-info-blocks flaticon-triangular46" style="margin-top: 0; font-size:40px;"></i>
                        <div class="info-blocks-in">
                            <h3>Alba&ntilde;iler&iacute;a</h3>
                            <p>Realizamos alicatados y solados en cocinas, baños y otras estancias. Demolición y formación de tabiques para mejorar la distribución de su vivienda.
                            Adem&aacute;s de cualquier otro trabajo de albañileria como rozas, aplicación de yeso en paramentos...</p>
                        </div>
                    </div>
                    <div class="col-sm-4 info-blocks">
                        <i class="icon-info-blocks fa fa-wrench"></i>
                        <div class="info-blocks-in">
                            <h3>Fontaner&iacute;a</h3>
                            <p>En la reforma de una vivienda es necesario sanear las tuberías antiguas por nuevas de PVC y/o cobre, cambio de llaves, etc. 
                            Instalamos calderas, sistemas de calefacción, sanitarios, muebles de baño y platos de ducha. </p>
                        </div>
                    </div>
                    <div class="col-sm-4 info-blocks">
                        <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                        <div class="info-blocks-in">
                            <h3>Electricidad</h3>
                            <p>Nuevo cableado en toda la vivienda o local, cambio de cuadro automático, enchufes, puntos de luz, tomas de teléfono y televisión. 
                            Diseño de la mejor iluminación con los mejores materiales, halógenos, bombillas de bajo consumo y LED. </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 info-blocks">
                        <i class="icon-info-blocks flaticon-paint6" style="margin-top: 0"></i>
                        <div class="info-blocks-in">
                            <h3>Pintura</h3>
                            <p>Tratamos y preparamos todo tipo de superficies para aplicar pinturas y revestimientos de cualquier color (mate,brillante o satinado) y 
                            acabado (liso, gotel&eacute;, arenas, estucos,...) para decorar su hogar o negocio.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 info-blocks">
                        <i class="icon-info-blocks flaticon-hammer38" style="margin-top: 0; font-size:35px;"></i>
                        <div class="info-blocks-in">
                            <h3>Carpiter&iacute;a</h3>
                            <p>Trabajamos tanto el parquet como la tarima flotante, un amplio catalago en puertas, frentes e interiores de armario,
                            en cualquier tipo de madera o lacado, para que su vivienda parezca nueva. </p>
                        </div>
                    </div>
                    <div class="col-sm-4 info-blocks">
                        <i class="icon-info-blocks flaticon-four76" style="margin-top: 0"></i>
                        <div class="info-blocks-in">
                            <h3>Alumnio y PVC</h3>
                            <p>Realizamos cerramientos de terrazas, cambio completo de ventanas y mamparas de su vivienda en aluminio o en PVC
                             con rotura de puente-t&eacute;rmico para conseguir un aislamiento t&eacute;rmico y sonoro del exterior.</p>
                        </div>
                    </div>
                </div>
            </div><!--/col-md-8-->        
        </div><!--/row-->   
        <!-- End Info Blokcs -->
    </div>
    <!-- End Content Part -->
    <!--=== Content Part ===->
    <div class="container content">
        <div class="margin-bottom-10"></div>
    	<!-- Our Proveedores ->
    	<div id="clients-flexslider" class="flexslider home clients">
            <div class="headline"><h2>Our Clients</h2></div>	
    		<ul class="slides">
    			<li>
                    <a href="#">
                        <img src="assets/img/clients/hp_grey.png" alt="" /> 
                        <img src="assets/img/clients/hp.png" class="color-img" alt="" />
                    </a>
                </li>
    			<li>
                    <a href="#">
                        <img src="assets/img/clients/igneus_grey.png" alt="" /> 
                        <img src="assets/img/clients/igneus.png" class="color-img" alt="" />
                    </a>
                </li>
    			<li>
                    <a href="#">
                        <img src="assets/img/clients/vadafone_grey.png" alt="" /> 
                        <img src="assets/img/clients/vadafone.png" class="color-img" alt="" />
                    </a>
                </li>
    			<li>
                    <a href="#">
                        <img src="assets/img/clients/walmart_grey.png" alt="" /> 
                        <img src="assets/img/clients/walmart.png" class="color-img" alt="" />
                    </a>
                </li>
    			<li>
                    <a href="#">
                        <img src="assets/img/clients/everyday_grey.png" alt="" /> 
                        <img src="assets/img/clients/everyday.png" class="color-img" alt="" />
                    </a>
                </li>
    			<li>
                    <a href="#">
                        <img src="assets/img/clients/cocacola_grey.png" alt="" /> 
                        <img src="assets/img/clients/cocacola.png" class="color-img" alt="" />
                    </a>
                </li>
    			<li>
                    <a href="#">
                        <img src="assets/img/clients/spinworkx_grey.png" alt="" /> 
                        <img src="assets/img/clients/spinworkx.png" class="color-img" alt="" />
                    </a>
                </li>
    			<li>
                    <a href="#">
                        <img src="assets/img/clients/shell_grey.png" alt="" /> 
                        <img src="assets/img/clients/shell.png" class="color-img" alt="" />
                    </a>
                </li>
    			<li>
                    <a href="#">
                        <img src="assets/img/clients/spinworkx_grey.png" alt="" /> 
                        <img src="assets/img/clients/spinworkx.png" class="color-img" alt="" />
                    </a>
                </li>
    		</ul>
    	</div><!--/flexslider-->
    	<!-- End Our Clients -->
    </div><!--/container-->		
    <!-- End Content Part -->
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{# JS Implementing Plugins #}
	<script src="{{ asset('bundles/arealweb/plugins/bxslider/jquery.bxslider.js') }}" type="text/javascript"></script>

	{# Layer Slider #}
	<script src="{{ asset('bundles/arealweb/plugins/layer_slider/jQuery/jquery-easing-1.3.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/arealweb/plugins/layer_slider/jQuery/jquery-transit-modified.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/arealweb/plugins/layer_slider/js/layerslider.transitions.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/arealweb/plugins/layer_slider/js/layerslider.kreaturamedia.jquery.js') }}" type="text/javascript"></script>

	{# JS Page Level #}
	<script src="{{ asset('bundles/arealweb/js/pages/index.js') }}" type="text/javascript"></script>
	<script type="text/javascript">
	    jQuery(document).ready(function() {
	      	App.init();
	        App.initSliders();
	        App.initBxSlider();
	        Index.initLayerSlider();
	    });
	</script>
{% endblock %}